{% extends 'base.html.twig' %}

{% block body %}
    {% set pagina = pagina is defined ? pagina : '' %}
    {{ render(controller('AppBundle:Hotel:carousel', {'pagina' : pagina})) }}
    {{ include('includes/_reserva-paxer.html.twig') }}

<div class="container">
    <div class="row">
        <h1>{% block titulo_pagina %}{% endblock %}</h1>
    </div>
    <div class="row">
        <div id="contenido" class="col-sm-9">
            {{ include('includes/_flash_messages.html.twig') }}

            {% block main %}{% endblock %}
        </div>
        <div id="sidebar" class="col-sm-3">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}