{# Bootstrap modal, see http://getbootstrap.com/javascript/#modals #}
<div class="modal fade" id="confirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>¿Está seguro que quiere eliminar este artículo?</h4>
                <p>Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-danger" id="btnYes" data-dismiss="modal">
                    Borrar artículo
                </button>
            </div>
        </div>
    </div>
</div>
