{% extends 'layout-blog.html.twig' %}

{% block body_id 'comment_form_error' %}

{% block main %}
    <h1 class="text-danger">Se ha producido un error al publicar tu comentario</h1>

    <div class="well">
        {{ include('blog/_comment_form.html.twig') }}
    </div>
{% endblock %}
