{% extends 'layout-2-column.html.twig' %}


{% block main %}
    <h1 class="text-danger">Se ha producido un error al publicar tu comentario</h1>

    <div class="well">
        {{ include('blog/_comment_form.html.twig') }}
    </div>
{% endblock %}
