article {
    margin-top: 45px;
}

body{
    padding-top: 0;
    height: 100%;
    min-height: 100%;
    margin-bottom: 0;
    position: relative;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* Efecto Negativo para OPERA*/
}

html {
    height: 100%;
}

#carousel .item {
    max-height: 500px;
    min-height: 250px;
}



/* Altura en px del footer */
#footer {
    position: relative;
    margin-top: -111px; /* altura en px del footer con valor negativo */
    height: 110px; /* Altura del Footer en px*/
    clear: both;
    background-color: #fff;
    text-align: center;
}

#isotipo {
    float: none;
    border: none;
}
#isotipo img {
    display: inline-block;
    position: relative;
}
#logo {
    position: relative;
    z-index: 12;
    top: 15px;
    display: inline-block;
}

#main {
    overflow: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 120px;
}


#nav-header {
    margin-bottom: 0;
}

#TA_socialButtonBubbles756 {
    width: 95px;
}

#wrap {
    min-height: 100%;
}

.fb-compartir {
    padding-top: 5px;
    padding-bottom: 10px;
}

.fb-seguir {
    padding-top: 15px;
}

.galeria:hover{
    opacity: 0.5;
    cursor: pointer;
}

.item img {
    min-height: 250px;
}

.paxer-widget-calendar {
    margin-left: auto;
    margin-right: auto;
}

.celeste {
    border-radius: 45px;
    background-color: #f2f7ff;
}
/* Common Blog page elements
   ------------------------------------------------------------------------- */
.post-metadata {
    color: #b4bcc2;
    font-size: 19px;
    margin-bottom: 16px;
}
.post-metadata .metadata {
    margin-right: 1.5em;
}

.post-tags .label {
    margin-right: 5px;
}

/* Page: 'Blog index'
   ------------------------------------------------------------------------- */
body#blog_index #main h1,
body#blog_index #main p {
    margin-bottom: 0.5em
}

body#blog_index article.post {
    margin-bottom: 3em;
}

body#blog_index .post-metadata {
    font-size: 16px;
    margin-bottom: 8px;
}

body#blog_index .post-tags .label-default {
    background-color: #e9ecec;
    color: #6d8283;
}
body#blog_index .post-tags .label-default i {
    color: #a3b2b2;
}

/* Page: 'Blog post show'
   ------------------------------------------------------------------------- */
body#blog_post_show #main h3 {
    margin-bottom: 0.75em
}

body#blog_post_show .post-tags .label-default {
    background-color: #e9ecec;
    color: #6D8283;
    font-size: 16px;
    margin-right: 10px;
    padding: .4em 1em .5em;
}
body#blog_post_show .post-tags .label-default i {
    color: #95A6A7;
}

body#blog_post_show #post-add-comment {
    margin: 2em 0
}

body#blog_post_show #post-add-comment p {
    margin-bottom: 0
}

body#blog_post_show #post-add-comment p a.btn {
    margin-right: 0.5em
}

body#blog_post_show .post-comment {
    margin-bottom: 2em
}

body#blog_post_show .post-comment h4 {
    font-size: 13px;
    line-height: 1.42857;
    margin-top: 0
}

body#blog_post_show .post-comment h4 strong {
    display: block
}

/* Page: 'Comment form error'
   ------------------------------------------------------------------------- */
body#comment_form_error h1.text-danger {
    margin-bottom: 1em
}
