body{
    padding-top: 0;
    height: 100%;
    min-height: 100%;
    margin-bottom: 0;
    position: relative;
}
/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* Efecto Negativo para OPERA*/
}

html {
    height: 100%;
}

#carousel-portada .item {
    max-height: 700px;
    min-height: 250px;
}



/* Altura en px del footer */
#footer {
    position: relative;
    margin-top: -70px; /* altura en px del footer con valor negativo */
    height: 70px; /* Altura del Footer en px*/
    clear: both;
    background-color: #fff;
    text-align: center;
}

#logo {
    position: relative;
    z-index: 12;
    top: 25px;
}

#main {
    overflow: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 70px;
}


#nav-header {
    margin-bottom: 0;
}

#wrap {
    min-height: 100%;
}

.item img {
    min-height: 250px;
}
