<div class="alert alert-info">
    <h3><i class="fa fa-file-text-o"></i> Condiciones Generales</h3>
    <ul>
        <li>Tarifa en Dólares referenciales y aplicable para extranjeros no residentes en Chile con Factura de Exportación. Tarifa sujeta a modificación sin previo aviso, dependiendo del tipo de cambio de cierre del mercado al momento de la reserva. Franquicia Tributaria (Exentos del pago de Impuesto 19% IVA).</li>
        <li>Las tarifas en pesos chilenos (CLP) incluyen IVA.</li>
        <li>Valor por habitación simple o doble.</li>
        <li>Horario de Check In desde las 15:00 hrs.</li>
        <li>Horario de Check Out hasta las 12:00 hrs.</li>
        <li>No incluye cama adicional.</li>
        <li>Reservas limitadas a 9 habitaciones (capacidad máxima del Hotel).</li>
        <li>No dispone de acceso para minusválidos.</li>
        <li>No se aceptan mascotas.</li>
        <li>Las dependencias del hotel son para no fumadores, solo en las terrazas se permite fumar.</li>
    </ul>

    <h3><i class="fa fa-credit-card"></i> Forma de Pago</h3>
    <ul>
        <li>Prepago del 50% al momento de la reserva, mediante pago efectivo, transferencia bancaria, tarjetas de crédito indicando su número y fecha de vencimiento.</li>
        <li>Saldo se cancela en mesón de recepción del Hotel.</li>
    </ul>

    <h3><i class="fa fa-window-close"></i> Política de Cancelación</h3>
    <p>Cancelación de reservas hasta con 48 horas de anticipación pasado ese plazo se cargará el valor del prepago realizado al momento de la reserva. No habrá reintegros ni devoluciones.</p>
</div>