{{ include(':includes:_menu-principal.html.twig') }}
<li><a href="{{ path('galeria_index') }}" title="Galerías Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-picture-o"></i> Galería Imágenes</a></li>
<li><a href="{{ path('blog_index') }}" title="Blog Hotel Boutique Sutherland House Valparaíso"><i class="fa fa-fw fa-rss"></i> Blog</a></li>