<a href="https://www.facebook.com/hotel.sutherland.house/" title="Facebook Hotel Valparaíso Sutherland House" target="_blank"><i class="fa fa-2x fa-facebook-official"></i></a>&nbsp;
<a href="https://www.tripadvisor.cl/Hotel_Review-g294306-d1957998-Reviews-Hotel_Boutique_Sutherland_House-Valparaiso_Valparaiso_Region.html" title="Tripadvisor Hotel Valparaíso Sutherland House" target="_blank"><i class="fa fa-2x fa-tripadvisor"></i></a>&nbsp;
<a href="https://www.instagram.com/hotelsutherlandhouse/" title="Instagram Hotel Valparaíso Sutherland House" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>&nbsp;
<a href="https://plus.google.com/+SutherlandhouseCl" title="Google+ Hotel Valparaíso Sutherland House" target="_blank"><i class="fa fa-2x fa-google-plus-square"></i></a>