<div>
    <div class="col-sm-12 col-md-8">
        <div class="paxer-widget-calendar"></div>
    </div>
    <div class="col-sm-6 col-md-2 text-center fb-seguir">
        <div class="fb-follow" data-href="https://www.facebook.com/hotel.sutherland.house/" data-layout="button_count" data-size="large" data-show-faces="true"></div>
    </div>
    <div class="col-sm-6 col-md-2 fb-seguir">
        <div id="TA_socialButtonBubbles756" class="TA_socialButtonBubbles center-block">
            <ul id="u7Oi48Seg4zk" class="TA_links 6LH2TI5CeHHe">
                <li id="T06wVaslH" class="gCS0rS">
                    <a target="_blank" href="https://www.tripadvisor.es/Hotel_Review-g294306-d1957998-Reviews-Hotel_Boutique_Sutherland_House-Valparaiso_Valparaiso_Region.html"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/socialWidget/20x28_green-21693-2.png"/></a>
                </li>
            </ul>
        </div>
        <script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq=756&amp;locationId=1957998&amp;color=green&amp;size=rect&amp;lang=es&amp;display_version=2"></script>
    </div>
</div>
<p class="clearfix">&nbsp;</p>