<div>
    <div class="col-xs-12 col-md-2 text-center fb-seguir">
        {{ include('includes/_redes-sociales.html.twig') }}
    </div>
    <div class="col-xs-12 col-md-8">
        {% if noShow is not defined %}<div class="paxer-widget-calendar"></div>{% endif %}
    </div>
    <div class="col-xs-12 col-md-2 fb-seguir">
        <div id="TA_socialButtonBubbles756" class="TA_socialButtonBubbles center-block">
            <ul id="u7Oi48Seg4zk" class="TA_links 6LH2TI5CeHHe">
                <li id="T06wVaslH" class="gCS0rS">
                    <a target="_blank" href="https://www.tripadvisor.es/Hotel_Review-g294306-d1957998-Reviews-Hotel_Boutique_Sutherland_House-Valparaiso_Valparaiso_Region.html"><img src="{{ asset('images/20x28_green-21693-2.png') }}" alt="TripAdvisor Reviews"/></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<p class="clearfix">&nbsp;</p>