<li><a href=""><i class="fa fa-fw fa-home"></i> HOTEL</a></li>
<li><a href=""><i class="fa fa-fw fa-bed"></i> HABITACIONES</a></li>
<li><a href=""><i class="fa fa-fw fa-calendar"></i> RESERVAS</a></li>
<li><a href=""><i class="fa fa-fw fa-dollar"></i> TARIFAS y PROMOCIONES</a></li>
<li><a href=""><i class="fa fa-fw fa-question-circle-o"></i> PREGUNTAS FRECUENTES</a></li>
<li><a href=""><i class="fa fa-fw fa-commenting"></i> COMENTARIOS</a></li>
