<li><a href=""><i class="fa fa-home"></i> HOTEL</a></li>
<li><a href=""><i class="fa fa-bed"></i> HABITACIONES</a></li>
<li><a href=""><i class="fa fa-calendar"></i> RESERVAS</a></li>
<li><a href=""><i class="fa fa-dollar"></i> TARIFAS y PROMOCIONES</a></li>
<li><a href=""><i class="fa fa-question"></i> PREGUNTAS FRECUENTES</a></li>
<li><a href=""><i class="fa fa-commenting"></i> COMENTARIOS</a></li>
