<div class="row">
    <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
        <div class="paxer-widget-calendar"></div>
    </div>
</div>
<p class="clearfix">&nbsp;</p>