{% extends 'layout-2-column.html.twig' %}

{% block subtitle %}Opiniones{% endblock %}
{% block titulo_pagina %}Hotel Sutherland - Opiniones{% endblock %}

{% block main %}

{% endblock %}

{% block sidebar %}
    <div id="TA_selfserveprop54" class="TA_selfserveprop">
        <ul id="5F0upTQqI" class="TA_links PrxExGH">
            <li id="nmxZTD1Bi" class="gd17O7">
                <a target="_blank" href="https://www.tripadvisor.es/"><img src="https://www.tripadvisor.es/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
            </li>
        </ul>
    </div>
    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=54&amp;locationId=1957998&amp;lang=es&amp;rating=true&amp;nreviews=5&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=true&amp;display_version=2"></script>
{% endblock %}