{% extends 'base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block descripcion %}Contactanos por cualquier duda y Mapa de ubicación por google maps del Hotel Boutique Sutherland House en la Avenida Alemania 4966, Cerro Alegre, Valparaíso, Chile. {% endblock %}

{% block body %}
    <div class="row">
        <iframe width="100%" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJP77GCTDhiZYRAUQlSY5inA4&key=AIzaSyCgvilLo1uM_Fo5HvYtizPr5MaAJZAkUEE&zoom=18" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Hotel Sutherland - Contacto</h1>
            </div>
        </div>

        {{ include('includes/_flash_messages.html.twig') }}
        {{ include('includes/_contacto.html.twig') }}

        <div class="panel panel-primary">
            <div class="panel-heading">Realizar Consulta</div>
            <div class="panel-body">
                {{ render(controller('AppBundle:Hotel:contactoForm',{'origen' : path('hotel_contacto')})) }}
            </div>
        </div>
    </div>
{% endblock %}
