{% extends 'base.html.twig' %}

{% block title %}Hotel Sutherland House{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Hotel:carousel', {'pagina' : constant('AppBundle\\Entity\\PageCarousel::PORTADA')})) }}

    <div class="text-center col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3"><div class='paxer-widget-calendar'></div></div>

    <div class="row text-center">
        <div class="col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-xs-6 col-sm-4 col-md-2">
            <div id="TA_certificateOfExcellence47" class="TA_certificateOfExcellence">
                <ul id="sVzwZb" class="TA_links cuSnkJtAtzRJ">
                    <li id="1aYn2n" class="IlTwe9O7s">
                        <a target="_blank" href="https://www.tripadvisor.cl/Hotel_Review-g294306-d1957998-Reviews-Hotel_Boutique_Sutherland_House-Valparaiso_Valparaiso_Region.html"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <div id="TA_certificateOfExcellence591" class="TA_certificateOfExcellence">
                <ul id="EGbGhG" class="TA_links Cg9BTk01WJ">
                    <li id="j5DVWel" class="Anpdea7U5pL">
                        <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <div id="TA_certificateOfExcellence306" class="TA_certificateOfExcellence">
                <ul id="O0H6M6DB5LS6" class="TA_links AK7ZT03OWej2">
                    <li id="rBGLgKJwm7" class="Fm5OKRn5Ox">
                        <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <div id="TA_certificateOfExcellence589" class="TA_certificateOfExcellence">
                <ul id="pYEZKMHG" class="TA_links XBXzvK">
                    <li id="W6UO0D9cLah" class="2hEH0F">
                        <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-2">
            <div id="TA_certificateOfExcellence233" class="TA_certificateOfExcellence">
                <ul id="2YDyNA4uD" class="TA_links U0Y4aOG">
                    <li id="Ofiii2" class="1AOFHCC">
                        <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
        var paxer = {};
        paxer.secret = 'JFL9VF';
        paxer.widgetType = 'BOTH';
        paxer.triggerButton = '';  // Coloque aquí el id del botón o link de reservas de su sitio web
        paxer.widgetTheme = 'custom';
        paxer.widgetOrientation = 'horizontal';
        paxer.widgetColors = {"colorHeader1":"#c2bc00","colorHeader2":"#3b3a3a","colorBody1":"#f4f4f4","colorBody2":"#666666"};
        paxer.paxerLang = ''; // Opcional: indique el código del idioma en el que desea ver el widget. Si no se especifica, establece el idioma principal del hotel. Idiomas soportados: es, en

        (function() {
            var paxerScript = document.createElement('script');
            paxerScript.type = 'text/javascript';
            paxerScript.async = true;
            paxerScript.src = 'https://paxer.com/lib/widget/paxer-booking.js?v='+ (new Date().getTime());
            var hscr = document.getElementsByTagName('head')[0];
            hscr.appendChild(paxerScript);
        })();
    </script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=47&amp;locationId=1957998&amp;lang=es_CL&amp;year=2016&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=591&amp;locationId=1957998&amp;lang=es_CL&amp;year=2015&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=306&amp;locationId=1957998&amp;lang=es_CL&amp;year=2014&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=589&amp;locationId=1957998&amp;lang=es_CL&amp;year=2013&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=233&amp;locationId=1957998&amp;lang=es_CL&amp;year=2012&amp;display_version=2"></script>

{% endblock %}