{% extends 'base.html.twig' %}

{% block title %}Hotel Sutherland House{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Hotel:carousel', {'pagina' : constant('AppBundle\\Entity\\PageCarousel::PORTADA')})) }}

    <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10 col-lg-9 col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3">
            <div class="paxer-widget-calendar"></div>
        </div>
    </div>
    <p class="clearfix">&nbsp;</p>

   <div class="panel panel-default col-md-6">
       <div class="panel-heading"><h4><i class="fa fa-star"></i> Reconocimientos</h4></div>
        <div class="panel-body">
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div id="TA_certificateOfExcellence47" class="TA_certificateOfExcellence">
                    <ul id="sVzwZb" class="TA_links cuSnkJtAtzRJ">
                        <li id="1aYn2n" class="IlTwe9O7s">
                            <a target="_blank" href="https://www.tripadvisor.cl/Hotel_Review-g294306-d1957998-Reviews-Hotel_Boutique_Sutherland_House-Valparaiso_Valparaiso_Region.html"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2" style="padding: 0 10px 10px 25px">
                <a href="http://www.booking.com/hotel/cl/sutherland-house.es.html" target="_blank">
                    <img height="150" width="150" src="{{ asset('images/hotel-sutherland-house-award-winner-2015.jpg') }}" alt="Hotel Sutherland House Booking Award Winner 2015">
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <script>
                    (function() {
                        var randomId = Math.floor(Math.random() * 100000);
                        var targetElemId = 'bcom_rwidget_' + randomId;
                        document.write('<div id="' + targetElemId + '" style="display:inline-block;"></div>');
                        var script   = document.createElement('script');
                        script.type  = 'text/javascript';
                        script.async = true;
                        script.src   = 'http://www.booking.com/review_widget/cl/sutherland-house.es.html?tmpl=review_widget/review_widget&wid=' + targetElemId + '&wtype=box_big&hotel_id=289904&widget_language=es';
                        var node     = document.getElementsByTagName('script')[0];
                        node.parentNode.insertBefore(script, node);
                    }());
                </script>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div id="TA_certificateOfExcellence591" class="TA_certificateOfExcellence">
                    <ul id="EGbGhG" class="TA_links Cg9BTk01WJ">
                        <li id="j5DVWel" class="Anpdea7U5pL">
                            <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div id="TA_certificateOfExcellence306" class="TA_certificateOfExcellence">
                    <ul id="O0H6M6DB5LS6" class="TA_links AK7ZT03OWej2">
                        <li id="rBGLgKJwm7" class="Fm5OKRn5Ox">
                            <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div id="TA_certificateOfExcellence589" class="TA_certificateOfExcellence">
                    <ul id="pYEZKMHG" class="TA_links XBXzvK">
                        <li id="W6UO0D9cLah" class="2hEH0F">
                            <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div id="TA_certificateOfExcellence233" class="TA_certificateOfExcellence">
                    <ul id="2YDyNA4uD" class="TA_links U0Y4aOG">
                        <li id="Ofiii2" class="1AOFHCC">
                            <a target="_blank" href="https://www.tripadvisor.cl/"><img src="https://www.tripadvisor.cl/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
   </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=47&amp;locationId=1957998&amp;lang=es_CL&amp;year=2016&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=591&amp;locationId=1957998&amp;lang=es_CL&amp;year=2015&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=306&amp;locationId=1957998&amp;lang=es_CL&amp;year=2014&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=589&amp;locationId=1957998&amp;lang=es_CL&amp;year=2013&amp;display_version=2"></script>
    <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=233&amp;locationId=1957998&amp;lang=es_CL&amp;year=2012&amp;display_version=2"></script>
{% endblock %}