{% if proms | length %}
    <h2><i class="fa fa-tags"></i> Promociones</h2>
    {% for pr in proms %}
    <div>
        <h3>{{ pr.nombre }}</h3>
        {% if pr.hasPromocionPage %}<a href="{{ path('hotel_promocion', {'slug' : pr.slug}) }}">{% endif %}
            <img class="img-responsive center-block" src="{{ asset(urlBase ~ '/' ~ pr.url) }}" alt="{{ pr.nombre | title }}">
        {% if pr.hasPromocionPage %}</a>{% endif %}
    </div>
    {% endfor %}
{% endif %}