<div class="panel panel-default col-md-6">
    <div class="panel-heading"><h4><i class="fa fa-tags"></i> Promociones</h4></div>
    <div class="panel-body text-center">
        {% for pr in proms %}
        <div>
            <h5>{{ pr.nombre }}</h5>
            {% if pr.hasPromocionPage %}<a href="{{ path('hotel_promocion', {'slug' : pr.slug}) }}">
                <img src="{{ asset('images/hotel-sutherland-house-banner-new-year.jpg') }}" class="img-responsive">
            </a>
        </div>
    </div>
</div>