{% extends 'base.html.twig' %}

{% block title %}Quienes Somos{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Hotel:carousel', {'pagina' : constant('AppBundle\\Entity\\PageCarousel::QUIENES_SOMOS')})) }}
    {{ include('includes/_reserva-paxer.html.twig') }}
    <div class="container">
        <div class="row text-center">
            <h1>Hotel Sutherland - Quienes Somos</h1>
        </div>
        <article class="row text-justify">
            <div class="col-xs-12 col-sm-6">
                <p>El nombre de este hotel boutique alude a George Sutherland, uno de los fundadores del Colegio Mackay, actualmente ubicado en Viña del Mar, quien fuera dueño del inmueble ubicado en el Cerro Alegre, sector con una importante tradición de actividad cultural y artística y que se ha constituido en un polo de desarrollo turístico, con una gran y variada oferta de establecimientos teatrales, gastronómicos, de hospedaje y de exposiciones y talleres artísticos, con una gran afluencia de visitantes extranjeros, provenientes de diversas partes del mundo.</p>
                <p>El “Proyecto Sutherland House” implicó la restauración del inmueble y su consiguiente transformación y habilitación para la función hotelera descrita, conservando el estilo arquitectónico de la construcción original; según la voluntad de los propietarios: Berta Aravena y Claudio Corvalán.</p>
                <p>Claudio es profesor de educación física y entrenador de atletismo, hijo de Claudio Corvalán Bone y María Isabel Espinoza Figueroa, tiene 2 hermanas y nació en Valparaíso en 1955.</p>
                <p>Sus padres crearon y desarrollaron la empresa Créditos Patricia, entre 1958 y 1985, una pequeña multitienda que llegó a tener una cartera cercana a los 3 mil clientes, y que ocupaba las mismas dependencias que el hotel.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Berta es profesora de educación general básica, hija de Roberto Aravena y María Luisa Contreras, es la mayor de 7 hermanos y nació en San Felipe en 1957.</p>
                <p>Sus padres se dedicaron al rubro agrícola en parcelas del sector de calle Herrera en el camino a Putaendo. Berta fue la primera mujer de su comunidad en cursar estudios superiores en la Universidad.</p>
                <p>Berta y Claudio se conocen hacia el final de sus estudios en la Universidad Católica de Valparaíso (UCV) y se casaron en 1981. Tienen 2 hijos: Macarena, fonoaudióloga de la Universidad de Valparaíso, y Claudio, ingeniero civil informático de la Universidad Santa María.</p>
                <p>En esta nueva etapa de su vida, los Corvalán Aravena dan un giro hacia una opción empresarial, contando con el apoyo de toda su familia. Además, han recibido el apoyo de dos importantes instituciones, como lo son CORFO y el Banco SantanderSantiago.</p>
                <p>El inmueble de Av. Alemania 4966, Cerro Alegre, originalmente de 430 m2, ha sido transformado en un establecimiento de 9 dormitorios, todos con vista a la ciudad y la bahía. Se trata de un hotel boutique que ha sido creado pensando en los más altos estándares internacionales.</p>
            </div>
        </article>
    </div>
{% endblock %}