{% extends 'base.html.twig' %}

{% block subtitle %}Reserve Ahora{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <h1>Hotel Sutherland - Reserva en línea</h1>
        </div>
        <div class="row">
            <div class="paxer-widget-calendar"></div>
        </div>
        <p>&nbsp;</p>
        <div class="panel panel-default">
            <div class="panel-heading">Si desea preguntar algo</div>
            <div class="panel-body">
                <p>Se puede contactar al centro de reservas todos los días</p>
                <p>Línea directa para reservar:</p>
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-block btn-primary">+56 32 3196 798</button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="btn btn-block btn-success" href="mailto:reservas@hotelsutherland.cl?subject=%5BWEB%5D+Reserva">reservas@hotelsutherland.cl</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">O llena el siguiente formulario</div>
            <div class="panel-body">

            </div>
        </div>

        {{ include(':includes:_condiciones_pago.html.twig') }}
    </div>
{% endblock %}