{% extends 'base.html.twig' %}

{% block title %}Valparaíso Patrimonio de la Humanidad{% endblock %}

{% block descripcion %}Descripción histórica de Valparaíso y sus encantos como los cerros alegre y concepción, el puerto, la plaza sotomayor y el paseo 21 de mayo.{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Hotel:carousel', {'pagina' : constant('AppBundle\\Entity\\PageCarousel::VALPARAISO')})) }}
    {{ include('includes/_reserva-paxer.html.twig') }}
    <div class="container">
        <div class="row text-center">
            <h1>Hotel Sutherland - Valparaíso</h1>
        </div>
        <article class="row text-justify">
            <div class="col-xs-12 col-sm-6">
                <p>Con forma de anfiteatro, Valparaíso mezcla el presente y el pasado, junto a una amplia y hermosa bahía, se rodea de una cadena de altos cerros, por la cual trepan hacia sus cumbres, calles, callejuelas, pasajes, escaleras y funiculares. Entre el pie de los cerros y el mar hay una angosta faja de calles, donde se ubica el comercio, los centros financieros, oficinas en antiguas residencias y modernos edificios.</p>
                <p>Gran parte del borde marino es ocupado por el puerto: molos, muelles, espigón de atraque y patios de acopio de contenedores; pero también hay diversos lugares en los cuales es posible acceder al mar en playas, miradores y rocas.</p>
                <p>Siempre un paseo por Valparaíso es una agradable experiencia, ya que a su vida de ciudad portuaria le suma una inusitada arquitectura y un peculiar trazado de calles. Emulando al arte, sobre una naturaleza agreste y escarpada se ha desplegado un ingenioso diseño urbano, que combina disposiciones prácticas y pintorescas que hacen de esta ciudad una de las más originales del mundo.</p>
                <p>Como la mayoría de los puertos de la América hispana, Valparaíso carece de una acta de fundación y crece sin un orden determinado. Durante los veranos de los siglos XVI y XVII, los barcos venían desde el Callao a la bahía y la ciudad se llenaban de actividad, la que decaía el resto del año.</p>
                <p>La calidad de Puerto, “para el trato de estas tierras y la ciudad de Santiago”, fue oficializada por el conquistador de Chile, Pedro de Valdivia, en 1542. En 1599 se levantó una capilla en donde hoy está la Iglesia de La Matriz. Poco a poco se levantan viviendas, una iglesia y un fuerte en el Castillo de San José, del cerro Cordillera, sobre la actual calle Serrano.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>A partir de la Independencia, a inicios del siglo XIX, Chile y América se incorporan al comercio mundial. Valparaíso es un puerto estratégico para las rutas que a través del Cabo de Hornos vienen desde el Atlántico a las costas e islas del Pacífico; generándose el auge de la ciudad: en sus bodegas se guardaba la mercadería que posteriormente se reembarcaba a otros puertos del Pacífico y Oceanía.</p>
                <p>Ingleses, alemanes y franceses se instalan en Valparaíso a manejar su comercio de importación; trayendo también capital que desarrollaría la minería del cobre, la plata y el salitre, así como las grandes obras públicas de mediados del siglo XIX. De esa forma, la ciudad se convierte en la principal plaza comercial y financiera de Chile, creándose los primeros bancos y la bolsa de valores; acogiendo a los miembros de una nueva clase social surgida de la riqueza minera, en grandes mansiones, donde algunas aún sobreviven.</p>
                <p>En Chile, Valparaíso fue pionero en muchos ámbitos: los primeros tranvías, primer tendido eléctrico para luminarias públicas y domiciliarias, primeros teléfonos, primer tendido de gas de cañería. Desde acá se inicia la construcción del ferrocarril a Santiago, la capital, la capital del país. Lo mismo con la red telefónica y telegráfica.</p>
                <p>Entre 1914 y 1930 se dan situaciones que cambian la suerte del principal puerto del país. Se abre el canal de Panamá transformándolo en destino terminal y ya no de paso; las nuevas políticas gubernamentales de industrialización interna llevan a las casas matrices comerciales y financieras a mudarse a Santiago, más cerca del poder político.</p>
                <p>En los inicios del siglo XXI, Valparaíso es un centro comercial, administrativo, universitario y laboral de una vasta región, también conocida como Gran Valparaíso, que incluye además a las comunas de Viña del Mar, Con Cón, Quintero, Quilpué, Villa Alemana y Limache.</p>
            </div>
        </article>
    </div>
{% endblock %}